
.main-section{
    width: 100%;
    background-image: url('../../assets/images/sections-image.png');
    background-color: #cccccc;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}