

/* cards */

.special-card{
    width: 384px;
    height: 455px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1rem;

    background: rgba(160, 128, 64, 0.3);
    border: 1px dashed #FFCE6D;
}

.special-card h4{
    font-size: 24px;
    line-height: 28px;

    text-align: center;
    text-transform: capitalize;

    color: #FFFFFC;
}
.special-card p{
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;

    text-align: justify;
    max-width: 268px;
    letter-spacing: 0.13em;
    text-transform: capitalize;

    color: #FFFFFC;
}